/*$adfd-dark-red: #d51707;*/
/*$adfd-light-red: #e05347;*/
/*$adfd-dark-blue: #16347b;*/
/*$adfd-light-blue: #b3cce2;*/
/*$fg-color-very-dark: #222222;*/
/*$fg-color-dark: #333333;*/
/*$fg-color-medium: #555555;*/
/*$fg-color-light: #777777;*/
/*$fg-color-very-light: #FAFAFA;*/

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
    /* FIXME re-add in way that it's ok with no-js ?*/
    /*background: linear-gradient(to bottom, #FFFFFF, #b3cce2 42%, #16347b);*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
}

/* Not supported by Chrome yet, but on the way
   https://bugs.chromium.org/p/chromium/issues/detail?id=605840 */
@supports ( hyphens: auto ) {
    p {
        text-align: justify;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

i.big.orange {
    line-height: 0.5;
    vertical-align: baseline;
}

/* footer background */
.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #16347b;
}
